* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  box-shadow: 5px 5px 20px grey;
}

.main-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 1rem;
}

li {
  list-style: none;
  display: flex;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  padding: 0.5rem;
  border-bottom: 1px solid #9f9f9f59;
}

#list-addition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  height: 4rem;
}

form label {
  display: none;
  visibility: hidden;
}

form input,
.edit-list {
  border: none;
}

.edit-list {
  width: 100%;
  resize: none;
  vertical-align: middle;
  line-height: 20px;
}

.checkbox-container {
  display: flex;
  gap: 0.5rem;
}

.list-container {
  border-top: 1px solid #9f9f9f59;
}

.to-do-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  padding: 0.5rem;
  height: 4rem;
  border-top: 1px solid #9f9f9f59;
}

.fa-ellipsis-vertical {
  margin-right: 5px;
}

.fa-ellipsis-vertical:hover {
  cursor: move;
}

.clear-btn {
  width: 25rem;
  padding: 1rem 2rem;
  border: none;
  color: #808080;
  transition: all;
  transition-duration: 0.35s;
}

.clear-btn:hover {
  font-size: 0.9rem;
  padding: 1.2rem 2.2rem;
  cursor: pointer;
}

.clear-btn:active {
  background-color: #588870;
  color: black;
}

.font-color {
  color: #9f9f9f;
  font-size: 1rem;
  transition: all;
  transition-duration: 0.35s;
}

textarea:focus,
input:focus {
  outline: none;
}

.font-color:hover {
  cursor: pointer;
  font-size: 1.2rem;
}

.display-none {
  display: none;
}

.line-through {
  text-decoration: line-through;
}

ul {
  margin: 0;
}

@media screen and (max-width: 400px) {
  .title-container,
  .to-do-list-item,
  .clear-btn {
    width: 19rem;
  }
}
